@import url("https://fonts.cdnfonts.com/css/digital-7-mono");
.fuelSelection {
  margin: auto 10vw;
  width: 100%;
}
.fuelCalculatorBox {
  width: 100%;
  background-color: rgb(15, 22, 54);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3vh 0;
  padding: 2vw;

  .boxControls {
    display: flex;
    flex-direction: column;
    color: #fff;
    .boxIcon {
      display: flex;
      flex-direction: column;
      button {
        color: #fff;
        padding: 0;
        margin: 0px 2vw;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: rgb(15, 22, 54);
      }
      h2 {
        text-align: center;
      }
      .gasStationIcon {
        color: red;
        width: 100%;
        font-size: 9em;
      }
      .gasStationIconIsRunning {
        color: orange;
        width: 100%;
        font-size: 9em;
      }
      .gasStationIconIsFull {
        color: green;
        width: 100%;
        font-size: 9em;
      }
    }
  }

  .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 0px 20px;
    padding: 5px;
    width: 100%;
    max-width: 40vh;
    .boxPanel1 {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      .panelIsActive {
        background: rgb(236, 242, 240);
      }
      .panelIsNotActive {
        background: rgb(121, 121, 99);
      }
      .panelValue {
        li {
          font-family: "Digital-7 Mono", sans-serif;
          color: rgb(3, 3, 3);
          list-style: none;
          padding: 10px;
          font-size: 2.2rem;
          text-align: right;
        }
      }
      .panelLegend {
        ul {
          margin: 0;
          padding: 0;
          li {
            color: #fff;
            list-style: none;
            padding: 10px;
            font-size: 1.8rem;
            text-align: left;
          }
        }
      }
    }
  }
}
.btnAddData {
  font-size: 1.5em;
  background: black;
  color: green;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
}

@media screen and (max-width: 583px) {
  .fuelCalculatorBox {
    .boxControls {
      display: flex;
      flex-direction: row;
      .fuelLabels {
        margin: auto 20px;
      }
    }
  }
}
.fuelLabels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  h2 {
    margin: 0;
    padding: 0;
  }
  .petrolLabel {
    text-align: center;
    border: 3px solid #fff;
    border-radius: 100%;
    padding: 10px;
  }
  .dieselLabel {
    text-align: center;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 10px;
  }
  .lpgLabel {
    text-align: center;
    border: 3px solid #fff;
    padding: 5px;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    h2 {
      transform: rotate(-45deg);
      margin-right: 5px;
      margin-top: 5px;
    }
  }
  .methaneLabel {
    text-align: center;
    border: 3px solid #fff;
    padding: 5px;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    h2 {
      transform: rotate(-45deg);
      margin-right: 25px;
      margin-top: 15px;
    }
  }
  .containerProgressBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
}
